body{
	background-color:#F0F0ED;
}
.container{
	max-width:1230px;
	
}
.top-header {
	background-color: #ecedee;
	box-shadow: 0px 1px #c2c8ce;
	padding-top: 5px;
	padding-bottom: 5px;
}



/* Style the icon bar links */
.fa {
	/* padding: 20px; */
	font-size: 30px;
	width: 40px;
	/* text-align: center; */
	/* text-decoration: none; */
	margin: 2px 2px;
	border-radius: 50%;
	height: 40px;
	padding-top: 13px;
	padding-left: 14px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/* logo */
.logo img {
	vertical-align: middle;
	border-style: none;
	margin: 0 auto;
	display: block;
	/* padding-top: 5px; */
}
/* navbar*/
.navbar1 {
	overflow: hidden;
	background-color: #fff;
	font-family: Arial;
	box-shadow: 0px 2px #d8dadd;
}
.navbar2 {
	overflow: hidden;
	background-color: #fff;
	font-family: Arial;
	box-shadow: 0px 2px #d8dadd;
}

/* Links inside the navbar */
.navbar1 a {
	float: left;
	font-size: 16px;
	color: #0d0d0d;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: 700;
}
.navbar2 a {
	float: left;
	font-size: 16px;
	color: #0d0d0d;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: 700;
}

/* The dropdown container */
.dropdown1 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown1 .dropbtn1 {
	font-size: 16px;
	border: none;
	outline: none;
	color: black;
	padding: 3px 16px;
	background-color: inherit;
	font: inherit;
	margin: 0;
	font-weight: bold;
}

/* Add a red background color to navbar links on hover */
.navbar1 a:hover, .dropdown1:hover .dropbtn1 {
	background-color: #dbd5d5;
}
.navbar2 a:hover, .dropdown1:hover .dropbtn1 {
	background-color: #dbd5d5;
}


/* Dropdown content (hidden by default) */
.dropdown-content1 {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	/* max-width: 1121px; */
	left:20px
	right:20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-width:100%;
	/* top: 2px; */
	margin-top: 1px;
}

/* Mega Menu header, if needed */
.dropdown-content1 .header {
  background: red;
  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}

/* Create three equal columns that floats next to each other */


/* Style links inside the columns */
.extramenu {
	padding-right: 2px;
padding-left: 10px
}
.extramenu a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;

}

/* Add a background color on hover */
.extramenu a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* --footer --*/
.footer{
	background-color:black;
	color:#ddd;
}
.footer .logo {
	text-align: center;
	padding-top: 6px;
	box-shadow: 0px 1px #534f4f;
	padding-bottom: 5px;
	max-width: 200px;
	margin: 0 auto;
	display: block;
}
.footer .authorname {
	text-align: center;
	padding-top: 6px;
	/* box-shadow: 0px 1px #534f4f; */
	padding-bottom: 5px;
	max-width: 500px;
	margin: 0 auto;
	display: block;
	/* border: 2p; */
	border-bottom: 2px solid #ddd;
}
.latestheading {
	background-color: #EEE;
	color: #0d0d0d;
	box-shadow: 0px 1px #ddd;
	margin-top: 17px;
	margin-bottom: 7px;
	border: 2px solid#ddd;
}
.latestheading1 {
	font-size: 20px;
	/* border: 2px solid #d7cccc; */
	/* padding: 0px 3px; */
	/* margin-top: 4px; */
	text-align: center;
	/* box-shadow: 0px 1px 2px 1px #c4bcbc; */
	border-right: 2px solid #9f9797;
	background: #df1717;
	padding-bottom: 4px;
	color: #ddd;
}
.latestheading2 a {
	text-orientation: none;
	color: black;
	text-decoration: none;
	padding-top: 9px;
}

.submain {
	/* border-top: 2px solid #d4d6d9; */
	/* box-shadow: 0px 2px 1px 1px #dde1e6; */
	margin-top: 5px;
	background: #e6ebf0;
	margin-bottom: 10px;
	border-bottom: 2px solid #aaa;
}
.list-group li {
	text-decoration: none;
	color: black;
	list-style-type: none;
	padding: 2px 4px;
}
.list-group li a{
	text-decoration:none;
	color:black;
}
.list-group li a:hover{
	text-decoration:none;
	color:red;
}
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color:#F0F0ED;
	background-clip: border-box;
	/*border: 1px solid rgba(0,0,0,.125); */
	border-radius: .25rem;
	/*box-shadow: 0px 1px 2px 1px #dcdedf; */
	/*border-bottom: 2px solid #a1a6ac */
		margin-bottom: 4px;
		border:1px solid #e1e4e6;
}

.reader {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	border-top: 2px solid #bec3c8;
	padding-top: 5px;
	box-shadow: 0px 0px 0px px;
}
.tab-content {
	/* margin-bottom: 3px; */
	border-bottom: 2px solid #c1c9d0;
}
.navbardetails  {
	border-top: 2px solid #c2c6ca;
	margin-left: -15px;
	margin-right: -15px;
	background: #f0f0f0;
}
.navbardetails .heading {
	border-bottom: 2px solid #a61624;
	/* padding-bottom: 2px; */
	margin-bottom: 20px;
	margin-left: 15px;
	/* border-radius: 50px; */
}
.navbar_categories ol li{
	list-style-type:square;
	color:black;
}
.navbar_categories li a{
	text-orientation:none;
	color:black;
}
.navbar_categories li a:hover{
	color:red;
}
.navbardetailsall {
	border-top: 2px solid #c2c6ca;
	margin-left: -15px;
	margin-right: -15px;
	background: #f0f0f0;
	margin-top: 5px;
	/* margin-top: ; */
	border-top: 2px solid #c0c5ca;
	padding-top: 5px;
}
.navbardetails .opinion{
	
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #f2f3f4;
	background-color: #dd4d21;
	border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item, .nav-link {
	margin-bottom: -1px;
	background: #ca5e29;
	color: #f9f9f9;
}
.h3, h3 {
	font-size: 1.75rem;
	padding-top: 6px;
	padding-left: 7px;
	font-weight: 501;
}
.h5, h5 {
	font-size: 1.25rem;
	/* border-bottom: 2px solid #d7dbdf; */
	font-color: #456;
	color: #000;
}
@media(max-width:500px) {
	.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:100%;
  left:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  .top-header .searchoption {
    width:100%;
    

  }
  .top-header .bangladate{
  	display:none;
  }
  .top-header .socialicon{
  	display:none;
  }
}
.photogallary{
	margin-bottom:10px;
}

.all_story h3 {
	color: #222;
	text-align: center;
	border: 0;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	padding: 0 0 0 0;
	padding: 5px 0 5px 0;
}
.logoinv{
	font-size: 36px;
	line-height: 46px;
	height: 46px;
	overflow: hidden;
	float: left;
	padding-left: 8px;
	margin-top:8px;
}
.detailsheading {
	text-align: center;
	padding-top: 10px;
	border-bottom: 2px solid #bfc4c8;
	padding-bottom: 7px;
}
/*photo-gallary-img*/
.photo-gallary-img{
	height:140px;
	min-height:140px;
}
/*leftnews-img*/
.leftnews-img{
	height:160px;
	max-height:200px;
}
/*rightnews-img*/
.rightnews-img{
height:160px;
	max-height:200px;	
}
/* mobile menu */
.mobilemenu{
	display:none;
}
.top-header{
		display:block;
	}
	.mobilemenu-img{
	margin-bottom: -4px;
	margin: 0 auto;
	display: block;
	border-bottom: 2px solid #cfd3d7;
	box-shadow: 0px 1px 2px 1px #eff1f4;
}

@media (max-width:900px){
	.mobilemenu{
		display:block;
	}
	.top-header,.logo{
		display:none;
	}
	.navbar1{
		display:none;
	}
	.photo-gallary-img,.leftnews-img,.rightnews-img{
		height:auto;
	}
	

}
@media (max-width:1000px){
	.container {
	max-width:100%;
}
}


/* Style the social media icons with color, if you want */
